<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614378768219-6dr7mr1hv4jfe7fnn5btdifjtfe1qjk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614378768219-6dr7mr1hv4jfe7fnn5btdifjtfe1qjk9</string>
	<key>API_KEY</key>
	<string>AIzaSyDL5gjcc4RSZDbwOn7p-z7wat3qbUHX38Y</string>
	<key>GCM_SENDER_ID</key>
	<string>614378768219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.HolaFood</string>
	<key>PROJECT_ID</key>
	<string>holafood-8f12e</string>
	<key>STORAGE_BUCKET</key>
	<string>holafood-8f12e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614378768219:ios:4d3908b31ffacd27007c7e</string>
</dict>
</plist>